{:allow [
   calendar-defender.session/create-from-google]
 :app-name "calendar-defender"
 :lambdas {:create-session-from-google
            {:fn calendar-defender.session/create-from-google
             :description "Create session from google"
             :integration :api-gateway/proxy}}}

