.google-sign-in {
  width: 191px;
  height: 46px;
  background-image: url("/images/google/btn_google_signin_dark_normal_web.png");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fff;
  border: none;
  outline: none;
}

.google-sign-in:hover {
  background-image: url("/images/google/btn_google_signin_dark_focus_web.png");
}

.google-sign-in:active {
  background-image: url("/images/google/btn_google_signin_dark_pressed_web.png");
}

.flow-page {
  display: flex;
  flex-direction: row;
  flex: 1;
  max-width: 100vw;
  max-height: 100vh;
}

.flow-page .sidebar {
  width: 300px;
  background: white;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.flow-page .sidebar .item {
  padding: 20px 30px;
  font-size: 14px;
  background: white;
  cursor: move;
}

.flow-node {
  padding: 30px;
}

.flow-node .question {
  font-weight: bold;
  display: block;
  margin-bottom: 30px;
}

.flow-node .answer {
  display: block;
}

.flow-node .add-answer {
  display: block;
}
